extends layout

block head
    script(src='/javascripts/trackpad.js')
    script.
        screenwidth = #{screenwidth};
        screenheight = #{screenheight};

block content
    h1 mouse tracker
    img(src="/screen")
    div#trackpad(style="width:#{500}px;height:#{500*screenheight/screenwidth}px;background:gray")
